<!DOCTYPE html>
<html>
  <body>
    <div class="container">
      <div class="title">All workers</div>
      
      <div class="cards">
        <div class="search-bar">
          <input placeholder="Search....">
        </div>
        <app-character-card
          *ngFor="let result of results"
          [id]="result.id"
          [imageUrl]="result.image"
          [name]="result.name"
          [description]="result.status"
        ></app-character-card>
      </div>

      <app-character-details></app-character-details>
    </div>
  </body>
</html>
