:host
{
  display: flex;
  justify-content: space-between;
  height: 80px;
}

.left-side,
.right-side
{
  display: flex;
}

.right-chevron
{
  display: block;
  text-decoration: none;
}

img
{
  height: 80px;
}
